/* ==========================================================================
   Custom Variables Override
   ========================================================================== */

/* Override default theme colors with lighter purple */
$primary-color              : #BDB5D5;
$info-color                 : #BDB5D5;

/* Override link colors */
$link-color                 : #BDB5D5;
$link-color-hover           : #9E95B7; /* Slightly darker shade for hover */
$link-color-visited         : #D0C9E3; /* Slightly lighter shade for visited */
$masthead-link-color        : #BDB5D5;
$masthead-link-color-hover  : #9E95B7; /* Slightly darker shade for hover */ 